@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1450px) {
  .container {
    width: 2000px;
    margin: 0 auto;
    max-width: 100%;
  }
}

.btn1 {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 13px 12px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;
  transition: 0.8s;
}
.btn1:hover {
  transform: scale(0.8);
}
.header {
  border-bottom: 1px solid #ccc;
}
.header_links {
  position: relative;
}
.close {
  display: none;
}
@media (max-width: 1450px) {
  .header_links {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transition: 0.8s;
    justify-content: center;
    background-color: #000;
  }
  .close {
    display: block;
    position: absolute;
    right: 20px;
    top: 0px;
  }
  .header_links p a {
    color: white;
  }
  #check1:checked ~ .header_links {
    left: 0;
  }
}
.btn2 {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 13px 20px;
  background: #000;
  transition: 0.8s;
}
.btn2:hover {
  transform: scale(0.8);
}
.left_side {
  border-radius: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card2 {
  background: linear-gradient(180deg, #09215f 0%, #010231 100%);
} 
